@import "compass/css3";

html, body {
  background: #BBA;
  :before, :after {content: ''; display: block;}
}

.dish {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  background: #EFEFEF;
  @include border-radius(50%);
  @include box-shadow(0 3px 3px rgba(#000, .1));

  //dish inner
  &:before {
    @include border-radius(50%);
    @include box-shadow(
      inset 0 5px 3px rgba(#000, .1),
      inset 0 -2px 1px rgba(#FFF, .6)
    );
    position: relative;
    margin: 15% auto;
    width: 70%;
    height: 70%;
    background: #EEE;
  }

  .poached-egg {
    position: relative;
    margin: -75% auto;
    width: 50%;
    height: 50%;
    background: #FFF;
    @include border-radius(50% / 30% 60%);
    @include box-shadow(0 1px 1px rgba(#000, .03));

    //yolk
    &:before {
      @include border-radius(40% 60%);
      @include box-shadow(
        inset 0 -5px 15px rgba(#FA0, .7),
        0 2px 2px rgba(#000, .1)
      );
      @include background-image(
        radial-gradient(
          circle at 43% 38%,
          rgba(#FE4, .7) 5%,
          #FD3 30%
        )
      );
      position: relative;
      top: 28%;
      margin: auto;
      width: 43%;
      height: 40%;
    }
  }
}
