@import "vendor/normalize";
@import "partials/component";
@import "partials/demo";

@import "partials/preview";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  font-family: 'Montserrat', sans-serif;
}
.grid__item.shown {
  filter: grayscale(100%);
}
.grid__item.shown:hover {
  transition: 1s;
  animation: rotate 1.2s 0 1 forwards; 
}

@keyframes rotate {
  100% {
    transform: rotateZ(-45deg) translateY(-25px) translateX(30px) scale(1);
    filter: grayscale(0%);
  }
}
